# Demo Notebook for Metrics Correlation Model Testing

#### [Download notebook](https://github.com/opensearch-project/opensearch-py-ml/blob/main/docs/source/examples/demo_metrics_correlation.ipynb)


## Introduction

This notebook introduces the technique of metrics correlation using ML Commons API.

## Step 0: Imports

Please install the following packages from the terminal if you haven't already. They can be also installed from the notebook by uncommenting the line and execute.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# !pip install pandas matplotlib numpy opensearch-py opensearch-py-ml

In [3]:
# import this to stop opensearch-py-ml from yelling every time a DataFrame connection made
import warnings
warnings.filterwarnings('ignore')

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import opensearch_py_ml as oml
from opensearchpy import OpenSearch

# Import standard test settings for consistent results
from opensearch_py_ml.conftest import *

## Step 1: Set up clients and define helper functions

In [5]:
CLUSTER_URL = 'https://localhost:9200'

def get_os_client(cluster_url = CLUSTER_URL,
                  username='admin',
                  password='admin'):
    '''
    Get OpenSearch client
    :param cluster_url: cluster URL like https://ml-te-netwo-1s12ba42br23v-ff1736fa7db98ff2.elb.us-west-2.amazonaws.com:443
    :return: OpenSearch client
    '''
    client = OpenSearch(
        hosts=[cluster_url],
        http_auth=(username, password),
        verify_certs=False
    )
    return client

In [6]:
client = get_os_client()

In [7]:
#connect to ml_common client with OpenSearch client
from opensearch_py_ml.ml_commons import MLCommonClient
ml_client = MLCommonClient(client)

## Step 2: Create data index

In [8]:
# Reading csv files as a dataframes
df_pd = pd.read_csv("data/SMD_small.csv.zip", header=None, index_col=None)
Y = pd.read_csv("data/SMD_small_labels.csv.zip", header=None, index_col=None)

There are 100 rows and 38 columns in the dataset. Each row represents a certain time point, while each columns represents a metric. This is a regular time series dataset.

In [9]:
df_pd

          0         1   ...   36   37
0   0.096774  0.088983  ...  0.0  0.0
1   0.107527  0.062500  ...  0.0  0.0
2   0.107527  0.104873  ...  0.0  0.0
3   0.096774  0.123941  ...  0.0  0.0
4   0.096774  0.070975  ...  0.0  0.0
..       ...       ...  ...  ...  ...
95  0.494624  0.072034  ...  0.0  0.0
96  0.494624  0.127119  ...  0.0  0.0
97  0.494624  0.069915  ...  0.0  0.0
98  0.494624  0.046610  ...  0.0  0.0
99  0.494624  0.052966  ...  0.0  0.0

[100 rows x 38 columns]

However, to use this dataset for metrics correlation later, each row needs to represent a metric. Therefore, we need to transpose it before populating the index.

In [10]:
df_pd_transposed = df_pd.transpose()
df_pd_transposed

          0         1   ...        98        99
0   0.096774  0.107527  ...  0.494624  0.494624
1   0.088983  0.062500  ...  0.046610  0.052966
2   0.090301  0.081382  ...  0.060201  0.059086
3   0.102207  0.097561  ...  0.052265  0.052265
4   0.000000  0.000000  ...  0.000000  0.000000
..       ...       ...  ...       ...       ...
33  0.000022  0.000034  ...  0.000034  0.000022
34  0.102150  0.103308  ...  0.047709  0.052994
35  0.102143  0.103301  ...  0.047705  0.052990
36  0.000000  0.000000  ...  0.000000  0.000000
37  0.000000  0.000000  ...  0.000000  0.000000

[38 rows x 100 columns]

In [12]:
# Creating and populating an index with the dataset
df = oml.pandas_to_opensearch(df_pd_transposed,
                    os_client=client,
                     os_dest_index='smd',
                    os_if_exists="replace",
                    os_refresh=True,)

In [13]:
df

           0         1  ...        98        99
0   0.096774  0.107527  ...  0.494624  0.494624
1   0.088983  0.062500  ...  0.046610  0.052966
2   0.090301  0.081382  ...  0.060201  0.059086
3   0.102207  0.097561  ...  0.052265  0.052265
4   0.000000  0.000000  ...  0.000000  0.000000
..       ...       ...  ...       ...       ...
33  0.000022  0.000034  ...  0.000034  0.000022
34  0.102150  0.103308  ...  0.047709  0.052994
35  0.102143  0.103301  ...  0.047705  0.052990
36  0.000000  0.000000  ...  0.000000  0.000000
37  0.000000  0.000000  ...  0.000000  0.000000

[38 rows x 100 columns]

Since we did not provide column names, they are just numbers. And a new id field is used to index data.

In [14]:
print(df.columns)
print(df.index.os_index_field)

Index(['0', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '3', '30', '31', '32', '33', '34', '35', '36',
       '37', '38', '39', '4', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '5',
       '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '6', '60', '61', '62', '63',
       '64', '65', '66', '67', '68', '69', '7', '70', '71', '72', '73', '74', '75', '76', '77',
       '78', '79', '8', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '9', '90',
       '91', '92', '93', '94', '95', '96', '97', '98', '99'],
      dtype='object')
_id

In [15]:
print(df.os_info())

os_index_pattern: smd
Index:
 os_index_field: _id
 is_source_field: False
Mappings:
 capabilities:
   os_field_name  is_source os_dtype os_date_format pd_dtype  is_searchable  is_aggregatable  is_scripted aggregatable_os_field_name
0              0       True   double           None  float64           True             True        False                          0
1              1       True   double           None  float64           True             True        False                          1
10            10       True   double           None  float64           True             True        False                         10
11            11       True   double           None  float64           True             True        False                         11
12            12       True   double           None  float64           True             True        False                         12
13            13       True   double           None  float64           True             True        False                         13
14            14       True   double           None  float64           True             True        False                         14
15            15       True   double           None  float64           True             True        False                         15
16            16       True   double           None  float64           True             True        False                         16
17            17       True   double           None  float64           True             True        False                         17
18            18       True   double           None  float64           True             True        False                         18
19            19       True   double           None  float64           True             True        False                         19
2              2       True   double           None  float64           True             True        False                          2
20            20       True   double           None  float64           True             True        False                         20
21            21       True   double           None  float64           True             True        False                         21
22            22       True   double           None  float64           True             True        False                         22
23            23       True   double           None  float64           True             True        False                         23
24            24       True   double           None  float64           True             True        False                         24
25            25       True   double           None  float64           True             True        False                         25
26            26       True   double           None  float64           True             True        False                         26
27            27       True   double           None  float64           True             True        False                         27
28            28       True   double           None  float64           True             True        False                         28
29            29       True   double           None  float64           True             True        False                         29
3              3       True   double           None  float64           True             True        False                          3
30            30       True   double           None  float64           True             True        False                         30
31            31       True   double           None  float64           True             True        False                         31
32            32       True   double           None  float64           True             True        False                         32
33            33       True   double           None  float64           True             True        False                         33
34            34       True   double           None  float64           True             True        False                         34
35            35       True   double           None  float64           True             True        False                         35
36            36       True   double           None  float64           True             True        False                         36
37            37       True   double           None  float64           True             True        False                         37
38            38       True   double           None  float64           True             True        False                         38
39            39       True   double           None  float64           True             True        False                         39
4              4       True   double           None  float64           True             True        False                          4
40            40       True   double           None  float64           True             True        False                         40
41            41       True   double           None  float64           True             True        False                         41
42            42       True   double           None  float64           True             True        False                         42
43            43       True   double           None  float64           True             True        False                         43
44            44       True   double           None  float64           True             True        False                         44
45            45       True   double           None  float64           True             True        False                         45
46            46       True   double           None  float64           True             True        False                         46
47            47       True   double           None  float64           True             True        False                         47
48            48       True   double           None  float64           True             True        False                         48
49            49       True   double           None  float64           True             True        False                         49
5              5       True   double           None  float64           True             True        False                          5
50            50       True   double           None  float64           True             True        False                         50
51            51       True   double           None  float64           True             True        False                         51
52            52       True   double           None  float64           True             True        False                         52
53            53       True   double           None  float64           True             True        False                         53
54            54       True   double           None  float64           True             True        False                         54
55            55       True   double           None  float64           True             True        False                         55
56            56       True   double           None  float64           True             True        False                         56
57            57       True   double           None  float64           True             True        False                         57
58            58       True   double           None  float64           True             True        False                         58
59            59       True   double           None  float64           True             True        False                         59
6              6       True   double           None  float64           True             True        False                          6
60            60       True   double           None  float64           True             True        False                         60
61            61       True   double           None  float64           True             True        False                         61
62            62       True   double           None  float64           True             True        False                         62
63            63       True   double           None  float64           True             True        False                         63
64            64       True   double           None  float64           True             True        False                         64
65            65       True   double           None  float64           True             True        False                         65
66            66       True   double           None  float64           True             True        False                         66
67            67       True   double           None  float64           True             True        False                         67
68            68       True   double           None  float64           True             True        False                         68
69            69       True   double           None  float64           True             True        False                         69
7              7       True   double           None  float64           True             True        False                          7
70            70       True   double           None  float64           True             True        False                         70
71            71       True   double           None  float64           True             True        False                         71
72            72       True   double           None  float64           True             True        False                         72
73            73       True   double           None  float64           True             True        False                         73
74            74       True   double           None  float64           True             True        False                         74
75            75       True   double           None  float64           True             True        False                         75
76            76       True   double           None  float64           True             True        False                         76
77            77       True   double           None  float64           True             True        False                         77
78            78       True   double           None  float64           True             True        False                         78
79            79       True   double           None  float64           True             True        False                         79
8              8       True   double           None  float64           True             True        False                          8
80            80       True   double           None  float64           True             True        False                         80
81            81       True   double           None  float64           True             True        False                         81
82            82       True   double           None  float64           True             True        False                         82
83            83       True   double           None  float64           True             True        False                         83
84            84       True   double           None  float64           True             True        False                         84
85            85       True   double           None  float64           True             True        False                         85
86            86       True   double           None  float64           True             True        False                         86
87            87       True   double           None  float64           True             True        False                         87
88            88       True   double           None  float64           True             True        False                         88
89            89       True   double           None  float64           True             True        False                         89
9              9       True   double           None  float64           True             True        False                          9
90            90       True   double           None  float64           True             True        False                         90
91            91       True   double           None  float64           True             True        False                         91
92            92       True   double           None  float64           True             True        False                         92
93            93       True   double           None  float64           True             True        False                         93
94            94       True   double           None  float64           True             True        False                         94
95            95       True   double           None  float64           True             True        False                         95
96            96       True   double           None  float64           True             True        False                         96
97            97       True   double           None  float64           True             True        False                         97
98            98       True   double           None  float64           True             True        False                         98
99            99       True   double           None  float64           True             True        False                         99
Operations:
 tasks: []
 size: None
 sort_params: None
 _source: ['0', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '3', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '4', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '5', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '6', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '7', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '8', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '9', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99']
 body: {}
 post_processing: []

## Step 3: Metrics correlation

In [ ]:
input_json = {
    "metrics": df
}

In [1]:
results = ml_client.execute(
    algorithm_name = "METRICS_CORRELATION",
    input_json = input_json
)
results

NameError: name 'ml_client' is not defined

## Step 4: Result visualization

In [ ]:
plt.plot(df_pd.index, df_pd)
plt.title("All metrics")